.card {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #140d0d;
    box-shadow: 0 30px 50px #5a4635;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 10 px 24px 0 rgba(151, 110, 6, 0.2);
}

.container-card {
    padding: 20px;
}

.section-title h3 span {
    color: #106eea;
}

.section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title p {
    width: 100%;
}

.section-title p {
    font-size: 20px;
    margin: 15px auto 0 auto;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0px;
    font-weight: 600;
}

.contact .info-box {
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.486);
    padding: 20px 0 30px 0;
}

.contact .info-box i {
    font-size: 24px;
    color: #5092e7;
    border-radius: 50%;
    padding: 10px;
    border: 2px dotted #486da1;
}


/* .contact .info-item i {} */

.contact .info-box h3 {
    font-size: 22px;
    color: #1a0808d2;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    padding: 10;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
}

.contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.486);
    padding: 14px;
}

.contact .php-email-form .form-group {
    margin-bottom: 20px;
}

.col {
    flex: 1 0 0%;
    flex-grow: 6;
    flex-shrink: 0;
    flex-basis: 0%;
}


/*.col-lg-6 {
    width: 652px !important;
} */

.contact .php-email-form button[type=submit] {
    background: #4588e0;
    border: 0;
    padding: 8px 20px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.form-control {
    border-color: rgb(166, 168, 170) !important;
}